<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>glass</key>
	<string></string>
	<key>music</key>
	<string></string>
	<key>search</key>
	<string></string>
	<key>envelope</key>
	<string></string>
	<key>heart</key>
	<string></string>
	<key>star</key>
	<string></string>
	<key>star-empty</key>
	<string></string>
	<key>user</key>
	<string></string>
	<key>film</key>
	<string></string>
	<key>th-large</key>
	<string></string>
	<key>th</key>
	<string></string>
	<key>th-list</key>
	<string></string>
	<key>ok</key>
	<string></string>
	<key>remove</key>
	<string></string>
	<key>zoom-in</key>
	<string></string>
	<key>zoom-out</key>
	<string></string>
	<key>off</key>
	<string></string>
	<key>signal</key>
	<string></string>
	<key>cog</key>
	<string></string>
	<key>trash</key>
	<string></string>
	<key>home</key>
	<string></string>
	<key>file</key>
	<string></string>
	<key>time</key>
	<string></string>
	<key>road</key>
	<string></string>
	<key>download-alt</key>
	<string></string>
	<key>download</key>
	<string></string>
	<key>upload</key>
	<string></string>
	<key>inbox</key>
	<string></string>
	<key>play-circle</key>
	<string></string>
	<key>rotate-right</key>
	<string></string>
	<key>refresh</key>
	<string></string>
	<key>list-alt</key>
	<string></string>
	<key>lock</key>
	<string></string>
	<key>flag</key>
	<string></string>
	<key>headphones</key>
	<string></string>
	<key>volume-off</key>
	<string></string>
	<key>volume-down</key>
	<string></string>
	<key>volume-up</key>
	<string></string>
	<key>qrcode</key>
	<string></string>
	<key>barcode</key>
	<string></string>
	<key>tag</key>
	<string></string>
	<key>tags</key>
	<string></string>
	<key>book</key>
	<string></string>
	<key>bookmark</key>
	<string></string>
	<key>print</key>
	<string></string>
	<key>camera</key>
	<string></string>
	<key>font</key>
	<string></string>
	<key>bold</key>
	<string></string>
	<key>italic</key>
	<string></string>
	<key>text-height</key>
	<string></string>
	<key>text-width</key>
	<string></string>
	<key>align-left</key>
	<string></string>
	<key>align-center</key>
	<string></string>
	<key>align-right</key>
	<string></string>
	<key>align-justify</key>
	<string></string>
	<key>list</key>
	<string></string>
	<key>indent-left</key>
	<string></string>
	<key>indent-right</key>
	<string></string>
	<key>facetime-video</key>
	<string></string>
	<key>picture</key>
	<string></string>
	<key>pencil</key>
	<string></string>
	<key>map-marker</key>
	<string></string>
	<key>adjust</key>
	<string></string>
	<key>tint</key>
	<string></string>
	<key>edit</key>
	<string></string>
	<key>share</key>
	<string></string>
	<key>check</key>
	<string></string>
	<key>move</key>
	<string></string>
	<key>step-backward</key>
	<string></string>
	<key>fast-backward</key>
	<string></string>
	<key>backward</key>
	<string></string>
	<key>play</key>
	<string></string>
	<key>pause</key>
	<string></string>
	<key>stop</key>
	<string></string>
	<key>forward</key>
	<string></string>
	<key>fast-forward</key>
	<string></string>
	<key>step-forward</key>
	<string></string>
	<key>eject</key>
	<string></string>
	<key>chevron-left</key>
	<string></string>
	<key>chevron-right</key>
	<string></string>
	<key>plus-sign</key>
	<string></string>
	<key>minus-sign</key>
	<string></string>
	<key>remove-sign</key>
	<string></string>
	<key>ok-sign</key>
	<string></string>
	<key>question-sign</key>
	<string></string>
	<key>info-sign</key>
	<string></string>
	<key>screenshot</key>
	<string></string>
	<key>remove-circle</key>
	<string></string>
	<key>ok-circle</key>
	<string></string>
	<key>ban-circle</key>
	<string></string>
	<key>arrow-left</key>
	<string></string>
	<key>arrow-right</key>
	<string></string>
	<key>arrow-up</key>
	<string></string>
	<key>arrow-down</key>
	<string></string>
	<key>share-alt</key>
	<string></string>
	<key>resize-full</key>
	<string></string>
	<key>resize-small</key>
	<string></string>
	<key>plus</key>
	<string></string>
	<key>minus</key>
	<string></string>
	<key>asterisk</key>
	<string></string>
	<key>exclamation-sign</key>
	<string></string>
	<key>gift</key>
	<string></string>
	<key>leaf</key>
	<string></string>
	<key>fire</key>
	<string></string>
	<key>eye-open</key>
	<string></string>
	<key>eye-close</key>
	<string></string>
	<key>warning-sign</key>
	<string></string>
	<key>plane</key>
	<string></string>
	<key>calendar</key>
	<string></string>
	<key>random</key>
	<string></string>
	<key>comment</key>
	<string></string>
	<key>magnet</key>
	<string></string>
	<key>chevron-up</key>
	<string></string>
	<key>chevron-down</key>
	<string></string>
	<key>retweet</key>
	<string></string>
	<key>shopping-cart</key>
	<string></string>
	<key>folder-close</key>
	<string></string>
	<key>folder-open</key>
	<string></string>
	<key>resize-vertical</key>
	<string></string>
	<key>resize-horizontal</key>
	<string></string>
	<key>bar-chart</key>
	<string></string>
	<key>twitter-sign</key>
	<string></string>
	<key>facebook-sign</key>
	<string></string>
	<key>camera-retro</key>
	<string></string>
	<key>key</key>
	<string></string>
	<key>cogs</key>
	<string></string>
	<key>comments</key>
	<string></string>
	<key>thumbs-up</key>
	<string></string>
	<key>thumbs-down</key>
	<string></string>
	<key>star-half</key>
	<string></string>
	<key>heart-empty</key>
	<string></string>
	<key>signout</key>
	<string></string>
	<key>linkedin-sign</key>
	<string></string>
	<key>pushpin</key>
	<string></string>
	<key>external-link</key>
	<string></string>
	<key>signin</key>
	<string></string>
	<key>trophy</key>
	<string></string>
	<key>github-sign</key>
	<string></string>
	<key>upload-alt</key>
	<string></string>
	<key>lemon</key>
	<string></string>
	<key>phone</key>
	<string></string>
	<key>check-empty</key>
	<string></string>
	<key>bookmark-empty</key>
	<string></string>
	<key>phone-sign</key>
	<string></string>
	<key>twitter</key>
	<string></string>
	<key>facebook</key>
	<string></string>
	<key>github</key>
	<string></string>
	<key>unlock</key>
	<string></string>
	<key>credit-card</key>
	<string></string>
	<key>rss</key>
	<string></string>
	<key>hdd</key>
	<string></string>
	<key>bullhorn</key>
	<string></string>
	<key>bell</key>
	<string></string>
	<key>certificate</key>
	<string></string>
	<key>hand-right</key>
	<string></string>
	<key>hand-left</key>
	<string></string>
	<key>hand-up</key>
	<string></string>
	<key>hand-down</key>
	<string></string>
	<key>circle-arrow-left</key>
	<string></string>
	<key>circle-arrow-right</key>
	<string></string>
	<key>circle-arrow-up</key>
	<string></string>
	<key>circle-arrow-down</key>
	<string></string>
	<key>globe</key>
	<string></string>
	<key>wrench</key>
	<string></string>
	<key>tasks</key>
	<string></string>
	<key>filter</key>
	<string></string>
	<key>briefcase</key>
	<string></string>
	<key>fullscreen</key>
	<string></string>
	<key>group</key>
	<string></string>
	<key>link</key>
	<string></string>
	<key>cloud</key>
	<string></string>
	<key>beaker</key>
	<string></string>
	<key>cut</key>
	<string></string>
	<key>copy</key>
	<string></string>
	<key>paper-clip</key>
	<string></string>
	<key>save</key>
	<string></string>
	<key>sign-blank</key>
	<string></string>
	<key>reorder</key>
	<string></string>
	<key>list-ul</key>
	<string></string>
	<key>list-ol</key>
	<string></string>
	<key>strikethrough</key>
	<string></string>
	<key>underline</key>
	<string></string>
	<key>table</key>
	<string></string>
	<key>magic</key>
	<string></string>
	<key>truck</key>
	<string></string>
	<key>pinterest</key>
	<string></string>
	<key>pinterest-sign</key>
	<string></string>
	<key>google-plus-sign</key>
	<string></string>
	<key>google-plus</key>
	<string></string>
	<key>money</key>
	<string></string>
	<key>caret-down</key>
	<string></string>
	<key>caret-up</key>
	<string></string>
	<key>caret-left</key>
	<string></string>
	<key>caret-right</key>
	<string></string>
	<key>columns</key>
	<string></string>
	<key>sort</key>
	<string></string>
	<key>sort-down</key>
	<string></string>
	<key>sort-up</key>
	<string></string>
	<key>envelope-alt</key>
	<string></string>
	<key>linkedin</key>
	<string></string>
	<key>undo</key>
	<string></string>
	<key>legal</key>
	<string></string>
	<key>dashboard</key>
	<string></string>
	<key>comment-alt</key>
	<string></string>
	<key>comments-alt</key>
	<string></string>
	<key>bolt</key>
	<string></string>
	<key>sitemap</key>
	<string></string>
	<key>umbrella</key>
	<string></string>
	<key>paste</key>
	<string></string>
	<key>lightbulb</key>
	<string></string>
	<key>exchange</key>
	<string></string>
	<key>cloud-download</key>
	<string></string>
	<key>cloud-upload</key>
	<string></string>
	<key>user-md</key>
	<string></string>
	<key>stethoscope</key>
	<string></string>
	<key>suitcase</key>
	<string></string>
	<key>bell-alt</key>
	<string></string>
	<key>coffee</key>
	<string></string>
	<key>food</key>
	<string></string>
	<key>file-alt</key>
	<string></string>
	<key>building</key>
	<string></string>
	<key>hospital</key>
	<string></string>
	<key>ambulance</key>
	<string></string>
	<key>medkit</key>
	<string></string>
	<key>fighter-jet</key>
	<string></string>
	<key>beer</key>
	<string></string>
	<key>h-sign</key>
	<string></string>
	<key>plus-sign-alt</key>
	<string></string>
	<key>double-angle-left</key>
	<string></string>
	<key>double-angle-right</key>
	<string></string>
	<key>double-angle-up</key>
	<string></string>
	<key>double-angle-down</key>
	<string></string>
	<key>angle-left</key>
	<string></string>
	<key>angle-right</key>
	<string></string>
	<key>angle-up</key>
	<string></string>
	<key>angle-down</key>
	<string></string>
	<key>desktop</key>
	<string></string>
	<key>laptop</key>
	<string></string>
	<key>tablet</key>
	<string></string>
	<key>mobile-phone</key>
	<string></string>
	<key>circle-blank</key>
	<string></string>
	<key>quote-left</key>
	<string></string>
	<key>quote-right</key>
	<string></string>
	<key>spinner</key>
	<string></string>
	<key>circle</key>
	<string></string>
	<key>reply</key>
	<string></string>
	<key>folder-close-alt</key>
	<string></string>
	<key>folder-open-alt</key>
	<string></string>
	<key>expand-alt</key>
	<string></string>
	<key>collapse-alt</key>
	<string></string>
	<key>smile</key>
	<string></string>
	<key>frown</key>
	<string></string>
	<key>meh</key>
	<string></string>
	<key>gamepad</key>
	<string></string>
	<key>keyboard</key>
	<string></string>
	<key>flag-alt</key>
	<string></string>
	<key>flag-checkered</key>
	<string></string>
	<key>terminal</key>
	<string></string>
	<key>code</key>
	<string></string>
	<key>reply-all</key>
	<string></string>
	<key>mail-reply-all</key>
	<string></string>
	<key>star-half-empty</key>
	<string></string>
	<key>location-arrow</key>
	<string></string>
	<key>crop</key>
	<string></string>
	<key>code-fork</key>
	<string></string>
	<key>unlink</key>
	<string></string>
	<key>question</key>
	<string></string>
	<key>info</key>
	<string></string>
	<key>exclamation</key>
	<string></string>
	<key>superscript</key>
	<string></string>
	<key>subscript</key>
	<string></string>
	<key>eraser</key>
	<string></string>
	<key>puzzle-piece</key>
	<string></string>
	<key>microphone</key>
	<string></string>
	<key>microphone-off</key>
	<string></string>
	<key>shield</key>
	<string></string>
	<key>calendar-empty</key>
	<string></string>
	<key>fire-extinguisher</key>
	<string></string>
	<key>rocket</key>
	<string></string>
	<key>maxcdn</key>
	<string></string>
	<key>chevron-sign-left</key>
	<string></string>
	<key>chevron-sign-right</key>
	<string></string>
	<key>chevron-sign-up</key>
	<string></string>
	<key>chevron-sign-down</key>
	<string></string>
	<key>html5</key>
	<string></string>
	<key>css3</key>
	<string></string>
	<key>anchor</key>
	<string></string>
	<key>unlock-alt</key>
	<string></string>
	<key>bullseye</key>
	<string></string>
	<key>ellipsis-horizontal</key>
	<string></string>
	<key>ellipsis-vertical</key>
	<string></string>
	<key>rss-sign</key>
	<string></string>
	<key>play-sign</key>
	<string></string>
	<key>ticket</key>
	<string></string>
	<key>minus-sign-alt</key>
	<string></string>
	<key>check-minus</key>
	<string></string>
	<key>level-up</key>
	<string></string>
	<key>level-down</key>
	<string></string>
	<key>check-sign</key>
	<string></string>
	<key>edit-sign</key>
	<string></string>
	<key>external-link-sign</key>
	<string></string>
	<key>share-sign</key>
	<string></string>
</dict>
</plist>
